{{google-map latitude=latitude longitude=longitude}}

{{#if loaded}}
  {{#if succeeded}}
    <h2>You're in {{city}}, {{country}}</h2>

    <p>latitude: {{latitude}}, longitude: {{longitude}}</p>
  {{else}}
    <h2>Something went wrong!</h2>
  {{/if}}
{{/if}}
